._.DS_Store
._creds.yaml
.python_history
config.json
creds.yaml
discord.yaml
creds.yaml
*.log
nav.db
nav-test.ipynb

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# bomy-buntu files
pybomy

# bomy-buntu files
pybomy
.ssh
.python_history
__pycache__
.bashrc
.bash_history
.bash_logout
.cache
.config
.gitignore.swp
.local
.profile
.selected_editor
.sudo_as_admin_successful
.viminfo
pybomy/pybomy
.idea
.vscode

